

*{
	font-family: Open Sans;
	background-color: #ecf0f1;
	
}
#title {
	text-align: left;
	font-size: 36px;
	margin: 0px;


}
#email{
	margin: 0px;

}

#pic{
	float: left;
	opacity: 0.1;
	width: 100px;
}
