*{
	font-family: 'Open Sans';
	background-color: #ecf0f1;
}

#email{
	margin-top: 0px;
}

#name{
	margin-bottom: 1px;
}

.col-sm-4{
	padding-top: 8px;
	padding-right: 4px;
	padding-left: 4px;
}

#edu{
	height: inherit;
}

.col-sm-2{
	padding-top: 8px;
}

.captions{
	background-color: gray;
text-align: center;

}
